* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul li,
p {
  text-align: justify;
  line-height: 35px;
  font-size: 2.5vw;
}
p {
  text-align: center;
  line-height: 35px;
}
body {
  /* gap: 6%; */
  display: grid;
}
a {
  color: white;
  text-decoration: none;
}
h1,
h2,
h3 {
  margin-top: 10%;
  text-align: center;
  margin-bottom: 6%;
  color: black;
  margin-top: 10%;
  font-size: 3vw;
  text-decoration: underline;
}

/* header */
header {
  background-color: honeydew;
}
.logo {
  width: 6%;
  background-color: grey;
}
.logo > img {
  width: 100%;
}
.menu {
  width: 94%;
  background-color: black;
}
.containerMenu {
  height: 100%;
  padding-right: 1%;
}
.listaMenu {
  display: flex;
  justify-content: flex-end;
  gap: 1%;
  height: 100%;
  align-items: center;
}
.listaMenu a {
  color: white;
}
.cabecera {
  display: flex;
}

.tituloH {
  background-image: url(../img/pexels-james-wheeler-1619317.jpg);
  height: 15rem;
  place-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
}
.tituloH h1 {
  text-decoration: none;
}
.titulo {
  display: grid;
  gap: 2%;
}

.titulo img {
  width: 95%;
  border-radius: 60%;
}
h1 {
  color: white;
  font-size: 5vw;
}
.tituloInfo h2 {
  font-size: 4.8vw;
}
.tituloInfo > h3 {
  font-size: 2.6vw;
}

/* footer  */
footer {
  height: 5rem;
  background-color: grey;
  width: 100%;
}
.rrss {
  display: flex;
  justify-content: center;
  gap: 3%;
  height: 100%;
  align-items: center;
}
.sectionRRSS {
  height: 100%;
}
.rrss img {
  width: 2rem;
}

/* main  */
main {
  margin: 0 auto;
  background-color: azure;
}

li a {
  color: black;
  font-size: 2vw;
}
.navCV {
  display: grid;
  grid-template-columns: 27% 22% 22% 27%;
  background: lightgrey;
  width: 100%;
  text-align: center;
}
.navCV li {
  text-align: center;
}
main section {
  width: 90%;
  margin: 10% auto;
}

.dtPersonales {
  font-size: 1.3rem;
  word-spacing: 5px;
}
/* idiomas */
th,
tr,
td {
  border: 1px solid black;
  text-align: center;
}
table {
  width: 90%;
  margin: 0 auto;
  font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .datosPerfil {
    display: grid;
    border: 1px solid black;
    height: 100%;
    width: 100%;
  }
  table {
    margin: 0 auto;
  }
  main section {
    width: 90%;
    margin: 10% auto;
  }

  .container {
    display: grid;
    grid-template-columns: 44% 50%;
    align-items: center;
    margin: 5% 1%;
    width: 100%;
    gap: 4%;
  }

  .trabajo ul {
    width: 75%;
    margin: 0 auto;
  }
  .estudio ul {
    width: 75%;
    margin: 0 auto;
  }
  .titulo {
    margin-bottom: 0%;
  }
  ul li,
  p {
    text-align: justify;
    line-height: 40px;
    font-size: 2.5vw;
    margin: 8% 0;
  }
  p {
    text-align: center;
    line-height: 45px;
  }
  .listaMenu li {
    text-align: justify;
    line-height: 40px;
    font-size: 2.5vw;
    margin: 0;
  }
  .tituloH {
    height: 20rem;
  }
}
@media only screen and (min-width: 992px) {
  .tituloH {
    height: 25rem;
  }
}
